<div class="w-full mx-auto text-center">
  <div class="w-full max-w-xs mx-auto">
    <h2 class="text-center text-3xl font-bold text-gray-900">
      ログイン
    </h2>
    <p class="mt-2 text-center text-sm text-gray-600">
      アカウントにアクセスして旅の記録を続けましょう
    </p>
  
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "mt-10 space-y-8" }) do |f| %>
  <div class="rounded-md shadow-sm -space-y-px text-left">
    <div>
      <%= f.label :email, "メールアドレス", class: "sr-only" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true, class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm", placeholder: "メールアドレス" %>
    </div>
    <div>
      <%= f.label :password, "パスワード", class: "sr-only" %>
      <%= f.password_field :password, autocomplete: "current-password", required: true, class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm", placeholder: "パスワード" %>
    </div>
  </div>

  <div class="space-y-4">
    <% if devise_mapping.rememberable? %>
      <div class="flex items-center justify-center">
        <%= f.check_box :remember_me, class: "h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded" %>
        <%= f.label :remember_me, "ログイン状態を記憶する", class: "ml-2 block text-sm text-gray-900" %>
      </div>
    <% end %>

    <div class="text-center text-sm">
      <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
        <%= link_to "パスワードを忘れた場合", new_password_path(resource_name), class: "font-medium text-indigo-600 hover:text-indigo-500" %>
      <% end %>
    </div>
  </div>

  <div>
    <%= f.submit "ログイン", class: "group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white btn-primary" %>
  </div>
  
  <div class="text-center text-sm mt-4">
    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
      または <%= link_to "アカウントをお持ちでない場合 新規登録", new_registration_path(resource_name), class: "font-medium text-indigo-600 hover:text-indigo-500" %>
    <% end %>
  </div>
<% end %>
